#header {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  height: 7vw;
  margin-top: -7vw;
  background-image: linear-gradient(rgba(black , 0.6), transparent);
}
