@import '@/public/styles/breakPoints.scss';

#header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  height: 4rem;
  margin-top: -4rem;
  background-image: linear-gradient(rgba(black , 0.6), transparent);
  
  .desktopNav {
    display: inline-block;
  }
}

@media (max-width: $tablet) {
  #header {
    padding: 0.75rem;
    .desktopNav {
      display: none;
    }
  }
}
