# Turso Database Configuration
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# The Meal DB Configuration
THEMEALDB_BASE_URL=
THEMEALDB_API_KEY=

# Email Configuration
ZOHO_SMTP_HOST=
ZOHO_SMTP_PORT=
ZOHO_SMTP_USER=
ZOHO_SMTP_PASS=
