@import '@/public/styles/sharedContent.module.scss';

/* --- header section --- */
.eatHealthyHeader {
  @extend %sharedBox;
  background: radial-gradient(closest-side, $light-orange, $light-orange, $dark-orange);
  overflow: hidden;
  span {
    color: $light-green;
  }
  .eatHealthyHeaderImage {
    img {
      width: auto;
      height: 100%;
      position: absolute;
      right: 21vw;
      bottom: -10vw;
    }
  }
  .eatHealthyHeaderBox {
    padding: 3.5vw 5vw;
    width: 55vw;
    margin: 3vw 0 0 22vw;
    z-index: 100;
  }
  @media (max-width: $tablet) {
    .eatHealthyHeaderImage {
      img {
        right: 15vw;
      }
    }
    .eatHealthyHeaderBox {
      margin: 9vw 0 0 8vw;
    }
  }
  @media (max-width: $mobile) {
    .eatHealthyHeaderImage {
      img {
        right: 5vw;
      }
    }
    .eatHealthyHeaderBox {
      margin: 9vw 0 0 3vw;
      width: 75vw;
    }
  }
}

/* --- main section --- */
.eatHealthy {
  background-color: $light-grey;
  .containerAction {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    h3 {
      padding: 0;
      color: $dark-grey;
      span {
        font-weight: 700;
      }
    }
    .showSavedButton {
      background-color: $dark-pink;
      border: none;
    }
    .showSavedButton:hover {
      background-color: $medium-pink;
    }
  }
}

.featuredRecipesArea {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  width: 100%;
  gap: 1rem;
  padding: 0 1rem 2rem;
  .noRecipesFound {
    text-align: center;
    font-size: $font-h3-size;
    color: $dark-grey;
    padding: 1rem;
  }
}
