.active {
  color: $light-pink;
}

.desktopNav {
  display: inline-block;
}

@media (max-width: $tablet) {
  .desktopNav {
    display: none;
  }
}

.footerNav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @media (min-width: $mobile) {
    flex-direction: row;
  }
}