@import '@/public/styles/sharedContent.module.scss';
@import "@/public/styles/breakPoints.scss";

/* --- header section --- */

.aboutUsHeader {
  @extend %sharedBox;
  background: radial-gradient(closest-side, $dark-green, $dark-green, $forest-green);
  height: 35vw;
  overflow: hidden;
  span {
    color: $light-pink;
  }
  .aboutUsHeaderImage {
    height: 28vw;
    img {
      width: auto;
      max-height: 28vw;
      position: absolute;
      right: 16vw;
      bottom: 0;
    }
  }
  .aboutUsHeaderBox {
    @extend %sharedBoxContent;
    margin: 3vw 0 0 20vw;
    z-index: 100;
  }
}

@media (max-width: $tablet) {
  .aboutUsHeader {
    height: 48vw;
    .aboutUsHeaderImage {
      height: 35vw;
      img {
        max-height: 35vw;
        right: 5vw;
        bottom: 3vw;
      }
    }
    .aboutUsHeaderBox {
      width: 70vw;
      margin: 9vw 0 0 8vw;
    }
  }
}

@media (max-width: $mobile) {
  .aboutUsHeader {
    height: 75vw;
    .aboutUsHeaderImage {
      height: 45vw;
      img {
        max-height: 45vw;
        right: -5vw;
        bottom: 10vw;
      }
    }
    .aboutUsHeaderBox {
      margin: 9vw 0 0 0;
      width: 75vw;
    }
  }
}

/* --- main section --- */

.lifestyle {
  .lifestyleContentBox {
    display: flex;
    align-items: center;
    background-color: $light-pink;
    margin: 6vw;
    padding: 6vw;
    position: relative;
    // height: 50vw;
    .lifestyleTextContainer {
      position: relative;
      z-index: 100;
      h1 {
        span {
          color: $dark-blue;
        }
      }
      h3 {
        color: $dark-grey;
        max-width: 50vw;
      }
    }
    .aboutUsMainImage {
      position: absolute;
      // top: 3vw;
      right: 8vw;
      height: 50vw;
      img {
        width: auto;
        max-height: 50vw;
      }
    }
    @media (max-width: $tablet) {
      .lifestyleTextContainer {
        h3 {
          max-width: 60vw;
        }
      }
      .aboutUsMainImage {
        top: unset;
        right: 0;
        height: 55vw;
        img {
          max-height: 55vw;
        }
      }
    }
    @media (max-width: $mobile) {
      .aboutUsMainImage {
        top: unset;
        right: -5vw;
        height: 90vw;
        img {
          max-height: 90vw;
        }
      }
    }
  }
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $medium-grey;
  padding: 6vw;
  h1 {
    text-align: center;
    span {
      color: $light-green;
    }
  }
  h3 {
    padding: 0.25rem;
    span {
      font-weight: 700;
    }
  }
  .serviceContainer {
    display: flex;
    padding-top: 2vw;
    .serviceTextBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 1vw;
      .serviceIcon {
        font-size: $font-h2-size;
        color: $light-green;
        padding: 1vw;
      }
    }
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
}
