@import '@/public/styles/sharedContent.module.scss';

.manageWeightHeader {
  @extend %sharedBox;
  background: radial-gradient(closest-side, $medium-pink, $medium-pink, $dark-pink);
  overflow: hidden;
  span {
    color: $yellow;
  }
  .manageWeightHeaderImage {
    img {
      width: auto;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  .manageWeightHeaderBox {
    padding: 3.5vw 5vw;
    z-index: 100;
    width: 65vw;
    margin: 7vw 0 0 15vw;
  }
  @media (max-width: $tablet) {
    .manageWeightHeaderBox {
      width: 70vw;
      margin: 9vw 0 0 8vw;
    }
  }
  @media (max-width: $mobile) {
    .manageWeightHeaderBox {
      margin: 9vw 0 0 0;
      width: 75vw;
    }
  }
}
