@import '@/public/styles/sharedContent.module.scss';

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(closest-side, $light-blue, $light-blue, $dark-blue);
  height: 100vh;
  flex-direction: column;
  padding: 0 0.5rem;
  .authContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    background-color: $light-blue;
    width: 100%;
    max-width: 40rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 12px rgba(#000000, 0.3);
    margin-top: 5rem;
    .signupRightContainer {
      background-color: $light-pink;
      width: 100%;
      border-radius: var(--border-radius);
      box-shadow: 0 3px 12px rgba(#000000, 0.3);
      z-index: 100;
      h2 {
        background-color: $dark-pink;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        padding: 1.5rem 0;
        text-align: center;
        span {
          color: $light-green;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 0.5rem ;
        gap: 0.5rem;
        ::placeholder {
          color: $medium-grey;
          opacity: 1;
          font-size: $font-button-size;
        }
        div {
          display: flex;
          flex-direction: row;
          span {
            display: flex;
            align-items: center;
            background-color: $dark-pink;
            padding: 0.5rem 1rem;
            border-radius: calc(var(--border-radius)/2) 0 0 calc(var(--border-radius)/2);
            svg {
              width: 1em;
              height: 1em;
            }
          }
          input {
            width: 100%;
            border: none;
            border-radius: 0 calc(var(--border-radius)/2) calc(var(--border-radius)/2) 0;
            padding: 0.5rem 1rem;
            &::placeholder {
              font-size: $font-button-size;
            }
          }
        }
        button {
          background-color: $dark-pink;
          border: 2px solid $dark-pink;
          margin: 1.5rem auto 0.25rem;
        }
        button:hover {
          background-color: $medium-pink;
          border: 2px solid $white;
        }
        @media (min-width: $mobile) {
          padding: 2rem 1rem ;
        }
      }
    }
    .signupLeftContainer {
      padding: 1.5rem;
      background-color: $light-blue;
      h3 {
        padding-top: 0;
        padding-bottom: 0.5rem;
      }
      div {
        display: flex;
        span {
          font-size: $font-p-size;
          padding-right: 0.25rem;
          margin-top: 0.125rem;
          @media (min-width: $desktop) {
            margin-top: 0.33rem;
          }
        }
      }
      .featuresList {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }
    }
    @media (min-width: $mobile) {
      grid-template-columns: 60% 40%;
    }
  }
  @media (min-width: $mobile) {
    padding: 0 2rem;
  }
}
