/* --- upper footer --- */

.upperFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: $dark-blue;
  a {
    text-align: center;
  }
  @media (min-width: $mobile) {
    padding: 4rem;
  }
}

/* --- lower footer --- */

.lowerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-grey;
  height: 3rem;
  span {
    color: $medium-pink;
  }
}