$dark-blue: #37969a;
$light-blue: #56bbbf;
$aqua: #4ed2d6;
$white: #ffffff;
$light-green: #adfcae;
$dark-green: #82eb84;
$forest-green: #6dcc6f;
$yellow: #fdfd97;
$light-orange: #ffb55f;
$dark-orange: #fd8902;
$fuccia: #f747ad;
$light-pink: #fad5ee;
$medium-pink: #efb6dd;
$dark-pink: #d993c8;
$light-purple: #a67fce;
$purple: #924ed6;
$black: #141313;
$dark-grey: #454444;
$darker-grey: #888888;
$medium-grey: #b5b5b5;
$light-grey: #e6e6e6;
$ultra-light-grey: #f5f5f5;
