$font-h1-size: 2.25rem; //86pt/45px
$font-h2-size: 1.5rem; //48pt/25px
$font-h3-size: 0.9rem; //28pt/14px
$font-button-size: 0.7rem; //22pt
$font-p-size: 0.6rem; //18pt/9px

// mobile (default)
$font-h1-mobile: 2.25rem;
$font-h2-mobile: 1.5rem;
$font-h3-mobile: 0.9rem;
$font-button-mobile: 0.7rem;
$font-p-mobile: 0.6rem;

// tablet
$font-h1-tablet: 3rem;
$font-h2-tablet: 2rem;
$font-h3-tablet: 1.1rem;
$font-button-tablet: 0.9rem;
$font-p-tablet: 0.8rem;

// desktop
$font-h1-desktop: 4rem;
$font-h2-desktop: 2.5rem;
$font-h3-desktop: 1.3rem;
$font-button-desktop: 1rem;
$font-p-desktop: 1rem;
