/* --- shared content --- */

%sharedBox {
  display: flex;
  align-items: center;
  padding: 6vw 0;
  width: 100vw;
  position: relative;
  height: 100%;
}

%sharedBoxContent {
  padding: 3.5vw 5vw;
  width: 55vw;
  z-index: 100;
}

%textBox {
  width: 30vw;
}

@media (max-width: $tablet) {
  %sharedBoxContent {
    padding: 20vw 10vw;
  }
  %textBox {
    width: 100%;
  }
}

@media (max-width: $mobile) {
  %sharedBoxContent {
    width: 100%;
    padding: 10vw 5vw;
  }
}
