.manageWeightMainCards {
  background-color: $light-grey;
  padding: 0.5rem;
  color: $dark-grey;
  .mainContainer {
    border-radius: var(--border-radius);
    max-width: $tablet;
    margin: 0 auto;
    margin-bottom: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 4px 16px rgba(0, 0, 0, 0.08);
    .mainHeaderText {
      background-color: $dark-blue;
      color: $white;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      padding: 1rem;
      text-align: center;
      h2 {
        span {
          color: $light-green;
        }
      }
      h3 {
        padding: 0.25rem 0 0 0;
      }
    }
    .macronutrientSummary {
      padding: 0.5rem 0.5rem 0.75rem 0.5rem;
      position: relative;
      background-color: $white;
      color: $dark-grey;
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      .macronutrientSummaryBox {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        padding-bottom: 0.5rem;
        @media (min-width: $mobile) {
          grid-template-columns: 1fr 1fr;
          padding-bottom: 1rem;
        }
        @media (min-width: $tablet) {
          grid-template-columns: 1fr 1fr 1fr;
        }
        @media (min-width: $desktop) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .macroCard {
          background-color: $white;
          border-radius: var(--border-radius);
          border: 1px solid $medium-grey;
          padding: 0.5rem;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          text-align: center;
          overflow: hidden;
          transform: 0.5s;
          .macroCardHeader {
            padding-bottom: 0.5rem;
          }
          h3 {
            padding: 0;
            font-weight: 400;
            span {
              font-weight: 700;
            }
          }
          .progressBarContainer {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 1.5rem;
          }
        }
      }
      .continueButtons {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        .newSearchButton {
          background-color: $fuccia;
          border: 1.5px solid $fuccia;
          // margin: 3vw 3vw 0 3vw;
        }
        .newSearchButton:hover {
          background-color: $dark-pink;
          border: 1.5px solid $dark-pink;
        }
      }
      @media (min-width: $mobile) {
        padding: 1rem 1rem 1.5rem 1rem;
      }
    }
    .mainTwoHeaderText {
      background-color: $purple;
      h2 {
        span {
          color: $yellow;
        }
      }
    }
    .mainThreeHeaderText {
      background-color: $dark-blue;
      h2 {
        span {
          color: $light-pink;
        }
      }
    }
  }
  @media (min-width: $mobile) {
    padding: 0.75rem;
  }
  @media (min-width: $tablet) {
    padding: 1rem;
  }
}
